@model IEnumerable<questionBank.Application.Models.Question>

@{
    ViewData["Title"] = "Questions";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uddipok)
            </th>
            <th>
                Questions <a asp-action="Create" class="btn btn-sm btn-info"><i class="fa fa-add"></i></a>
            </th>
          
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class=" shadow">
            <td style="max-width:700px;min-width:560px">
                <span class="alert-secondary">@item.Chapter.AcademicSubject.AcademicClass.ClassName; Subject:@item.Chapter.AcademicSubject.SubjectName; Chapter: @item.Chapter.ChapterNumber (@item.Chapter.ChapterName)</span>

                <p style="text-align:justify">
                    @item.Uddipok
                </p>
            </td>
            <td>
                @{ 
                    int qSl = 1;
                }
                @foreach (var ques in item.QuestionDetails)
                {
                    <span class="fw-bold">@(qSl++ +")") @ques.QuestionText</span><br />
                    
                }
                <div class="btn-group btn-group-sm">
                    <partial name="~/Views/Shared/_EditDetailsDelete.cshtml" model="@item.Id" />    
                </div>
            </td>

        </tr>
}
    </tbody>
</table>
