@model MadeQuestionVM

@{
    int sl = 0;
    string[] slList = {"১","২","৩","৪","৫","৬","৭","৮","৯","১০","১১" };
    string[] numList = { "ক", "খ", "গ", "ঘ" };

}

<div class="row">
    <div class="col-md-10 offset-1">
        <div class="text-center">
            <div class="row"><h5>@Model.InstituteName</h5></div>
            <div class="row"><h6>@Model.ExamTypeName</h6></div>            
            <div class="row"><h6>শ্রেণী: @Model.ClassName; বিষয়: @Model.SubjectName</h6></div>            
            <div class="row">
                <div class="col-md-6 text-start"><span>সময় : @Model.Time</span></div>
                <div class="col-md-6 text-end"><span>পূর্ণমান : @Model.TotalMark</span></div>
            </div>
        </div>
    </div>
</div>
<hr />
@if (Model.Questions.Count > 0)
{
    foreach (var question in Model.Questions)
    {
        <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col-1 text-end">
                        @(slList[sl++]).
                    </div>
                    <div class="col-11">
                        <p style="text-align:justify"> @question.Uddipok</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pb-2">
            <div class="col-11">
                <div class="row">
                    <div class="offset-1 col-11">
                        <ul class="list-group list-group-flush">
                            @{int qMark = 1; int a = 0;}
                            @foreach (var qDetails in question.QuestionDetails)
                            {

                                <li class="list-group-item d-flex justify-content-between">@(numList[a++])) @qDetails.QuestionText <span class="text-end">@(qMark++)</span></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }

}