@model IEnumerable<questionBank.Application.Models.Chapter>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChapterName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChapterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicSubject)
            </th>
         
            <th><a asp-action="Create">Create New</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChapterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicSubject.SubjectName)
            </td>
       
            <td>
                <partial name="~/Views/Shared/_EditDetailsDelete.cshtml" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
