@model IEnumerable<questionBank.Application.Models.AcademicSubject>

@{
    ViewData["Title"] = "Index";
}

<h4>Academic Subject List @if (ViewBag.aClass != null)
{
    <span>( @ViewBag.aClass) <a asp-action="Index" class="btn btn-sm btn-info" >View All</a></span>
}</h4><hr />


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AcademicClass)
            </th>
      
            <th><a asp-action="Create">Create New</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
                @if (item.Chapters.Count>0)
                {
                    int totoalQuestions = 0;
                    foreach (var ques in item.Chapters)
                    {
                        totoalQuestions += ques.Questions.Count;
                    }
                    <span class="badge bg-info">@item.Chapters.Count Chapters <span class="text-black">(@totoalQuestions Questions)</span></span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AcademicClass.ClassName)
            </td>
         
            <td>
                <partial name="~/Views/Shared/_EditDetailsDelete.cshtml" model="@item.Id" />
            </td>
        </tr>
}
    </tbody>
</table>
